// responsive breakpoints
$s-viewport: 425px;
$sm-viewport: 576px;
$md-viewport: 768px;
$lg-viewport: 992px;
$xl-viewport: 1200px;
$xxl-viewport: 1600px;
$xxxl-viewport: 2000px;

// colors
$White: #FFFFFF;
$Charcoal: #222222;
$Light-Grey: #F3F3F3;
$Grey: #EEEEEE;
$Dark-Grey: #B7B7B7;
$Light-Green: #0ca92a;

//shadows
$box-shaodw: 0px 0px 15px 0px rgba(0,0,0,0.075);
